doctype
html
	head
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Oswald|Raleway|Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">
		<link type="text/css" href="/static/style.css" rel="stylesheet"/>
		<link type="text/css" href="/static/index_style.css" rel="stylesheet" />
		<link type="text/css" href="/static/slidemessage.css" rel="stylesheet"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src="/static/jquery.cookie.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
		<script type="text/javascript" src="/static/front.js"></script>
	body
		div(style="margin-left: -15px; margin-right: -8px;")
			ul.navbar
				<li class=mobile><a href="#" class=mobile>&#9776;</a></li>
				<li id=you>asai95</li>
				<li class=exit><a href="/" id=exit>Exit</a></li>
			div.pop
				span.close x
				p.err-message
		div(id="mobile-helper")
			div.users-container
				ul.users-list
				input(type="text" id="friend-field")
				button(id="friend-add") Add
		div(class="center container")
			br
			div.message-area
			textarea(cols=40 rows=5 wrap="hard")
			button(id="send" type="submit") Send
			
